body {
    background-color: #000b29; 
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.header-gradient {
    background: linear-gradient(to bottom, #001f4d, #000b29);
    padding: 40px 0;
    border-bottom: 1px solid #333;
}

.top-name h1 {
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.subtexto h2 { font-weight: normal; margin-bottom: 0; }
.subtexto h3 { font-size: 2em; margin-top: 0; color: #ccc; }

.video-container iframe {
    border-radius: 20px;
    border: 2px solid #111;
    margin-top: 30px;
    width: 90%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: none;
    max-width: 800px;
    margin-left: 20px;
    margin-right: 20px;
}


.sobremim {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;        
    gap: 20px;             
    margin: 40px auto;      
    max-width: 1200px;      
    padding: 0 20px; 
    
}

summary {
    list-style: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 50px; 
    cursor: pointer;
    transition: 0.3s;
}

summary:hover {
    background-color: white;
    color: black;
}

.container-habilidades {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    
    
}

.item-tecnologia p {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 10px;
}

.boxgithub {
    background: linear-gradient(135deg, #0d1b3e 0%, #162a5e 100%);
    width: 80%;
    max-width: 555px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px; /* Bordas arredondadas do card */
    border: 1px solid #222;
}

.buttongit {
    display: inline-block;
    background-color: #87ceeb;
    color: #000;
    padding: 10px 25px;
    border-radius: 10px; 
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}

.item-tecnologia{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 20px;
}

.gitimage{
    border: solid;
    border-radius: 30px;
    border-width: 2.2px;
    color: rgb(41, 88, 208);
    width: fit-content;
    background-color: rgb(131, 214, 244);
    margin-left: auto;
    margin-right: auto;
}
